{% extends 'base.html.twig' %}

{% block title %}Hit a bee !{% endblock %}

{% block body %}

<div class="w3-container">
    <h2>Hit a Bee !</h2>
    <ul class="w3-ul w3-card-4" style="width:33%">
    {% for bee in bees %}
        <li
            {% if bee.type == "Queen" %}
                class="w3-amber"
            {% elseif bee.type == "Worker" %}
                class="w3-khaki"
            {% elseif bee.type == "Scout" %}
                class="w3-pale-yellow"
            {% endif %}
        >
           <span {% if bee.lastHit == 1 %} class="w3-text-red" {% endif %}> {{ bee.name }} - {{ bee.hitPoints }}</span>
        </li>
    {% endfor %}
    <li>{% block form %}{% endblock %}</li>
    <li><a href="{{ path('app_bee_new') }}" class="w3-button w3-white w3-border w3-border-red w3-round-large">RESET</a></li>
    </ul>
</div>

{% endblock %}
